[Desktop Entry]
Comment[en_US]=Automatically fills out the daily screener
Comment=Automatically fills out the daily screener
Exec=bash -c "cd ~/.local/share/screener && python3 AutoScreener.py"
GenericName[en_US]=
GenericName=
Hidden=false
MimeType=
Name[en_US]=Daily Screener
Name=Daily Screener
NoDisplay=false
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-GNOME-Autostart-enabled=true
X-KDE-RunOnDiscreteGpu=false
X-KDE-SubstituteUID=false
X-KDE-Username=
